@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-orange: #f97316;
  --primary-green: #22c55e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --color-brand-orange: var(--primary-orange);
  --color-brand-green: var(--primary-green);
}

body {
  background: var(--background);
  color: var(--foreground);
}
